<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="../Logs/NLogError.log"
      throwExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logdir" value="./Logs"/>

  <targets>
    <target xsi:type="File"
            name="FullLog"
            fileName="${basedir}/${logdir}/FullLogs/${date:format=yyyyMMdd-HH}.log"
            layout="${time} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}${newline}"/>
    <target xsi:type="File"
            name="ControllerLog"
            fileName="${basedir}/${logdir}/ControllerLogs/${date:format=yyyyMMdd-HH}.log"
            layout="${time} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}${newline}"/>
    <target xsi:type="File"
            name="HubLog"
            fileName="${basedir}/${logdir}/HubLogs/${date:format=yyyyMMdd-HH}.log"
            layout="${time} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}${newline}"/>
    <target xsi:type="File"
            name="WsLog"
            fileName="${basedir}/${logdir}/WsLogs/${date:format=yyyyMMdd-HH}.log"
            layout="${time} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}${newline}"/>
  </targets>

  <rules>
    <logger name="VideoconferencingBackend.Controllers.*" minlevel="Trace" writeTo="ControllerLog"/>
    <logger name="VideoconferencingBackend.Hubs.*" minlevel="Trace" writeTo="HubLog"/>
    <logger name="VideoconferencingBackend.Adapters.*" minlevel="Trace" writeTo="WsLog"/>
    <logger name="*" minlevel="Trace" writeTo="FullLog"/>
  </rules>

</nlog>